<div layout="vertical" layout-fill>
    <md-content class="bg-primary">
        <header>
            <navbar creation-date="vm.creationDate"></navbar>
        </header>
        <section class="jumbotron">
            <yatzy-sign></yatzy-sign>
            <p class="lead">
                <img id="dice-logo" src="assets/images/dice-logo.svg" alt="Pair of dice">
                <br> 'Cause it was cheaper to write the game than buying 5 dice, piece of paper and a pen!
            </p>
            <p>
                With ♥ rkunev
            </p>
        </section>
    </md-content>
</div>
