<div layout="vertical" layout-fill layout="row">
    <md-content flex="100">
        <header>
            <acme-navbar creation-date="vm.creationDate"></acme-navbar>
        </header>
        <div layout="row" layout-wrap>
            <div layout-align="center" flex="33">
                <md-card>
                    <md-card-content>
                        <h3 class="md-title">{{ vm.title }}</h3>
                        <p>{{ vm.description }}</p>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="33">
                <dice></dice>
            </div>
            <div layout-align="center" flex="33">
                <div>
                    <md-button type="button" class="md-raised md-info" ng-click="vm.success( 'Success kid!' )">Show success notification</md-button>
                </div>
                <div>
                    <md-button type="button" class="md-raised md-success" ng-click="vm.clearActiveNotification()">Clear all notifications</md-button>
                </div>
            </div>
        </div>
    </md-content>
</div>
